<a href="https://colab.research.google.com/github/alexandrercampos/Alexandre-Portifolios/blob/main/AULA_26_09_EM_DIANTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***TUPLA***

Funciona praticamente como a lista, porém é imutável. Por ser imutável, ela ocupa menos espaço na memória.

Um tupla é criada com parênteses:
1.   tupla=(1,2,3,4,5)

In [3]:
numeros=(1,2,3,4,5)

In [ ]:
type(numeros)

tuple

In [ ]:
lista=[1,2,3,4,5]

In [ ]:
type(lista)

list

In [ ]:
numeros[2]

3

In [ ]:
del numeros #deleta toda a tupla

In [4]:
print(numeros)

(1, 2, 3, 4, 5)

In [ ]:
nomes=("Eduardo", "Leornado", "Cristina", "Maria")

In [ ]:
print(sorted(nomes)) #O sorted, na tupla, não muda a ordem dos valores, ele cria uma cópia dos valores e organiza. Lembre-se que a tupla é imutável

['Cristina', 'Eduardo', 'Leornado', 'Maria']

In [ ]:
nomes[1]

'Leornado'

In [ ]:
num=(3)

In [ ]:
type(num) #Perceba que mesmo colocando no formato da tupla, aqui estamos criando uma variável do tipo int.

int

In [ ]:
print(nomes.index("Leonardo")) #O índice do nome "Leonardo", não muda, mesmo depois do sorted.

3

In [ ]:
num2=(3,) #colocando a vírgula nós estamos declarando que a variável será um tupla de apenas um valor.

In [ ]:
type(num2)

tuple

In [ ]:
teste=tuple(range(11)) #criar uma tupla com o range.

In [ ]:
print(teste)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#Fatia uma tupla. Serve para dividir a tupla, o que facilita em buscas caso a tupla seja muito grande

teste[3:10:2] #Inicia no 3 e mostra até o 10(exclusive)

(3, 5, 7, 9)

In [ ]:
teste[3:10:2] #Inicia no 3, vai até o 10, de 2 em 2

(3, 5, 7, 9)

In [ ]:
teste[:5] #Vai até o cinco, mas exclui ele

(0, 1, 2, 3, 4)

In [ ]:
teste[5:] #começa do número 5 até o final

(5, 6, 7, 8, 9, 10)

In [ ]:
teste[-1] #mostra o último da tupla.

10

In [ ]:
#Carregar uma tupla pelo input

num=()

for i in range(5):
  x=int(input("Digite um número: "))
  num= num + tuple([x])

print(num)

Digite um número: 8
Digite um número: 6
Digite um número: 4
Digite um número: 2
Digite um número: 0
(8, 6, 4, 2, 0)

In [ ]:
#outra forma de carregar uma tupla pelo o input

num2 = ()
for i in range(5):
  x= int(input('Digite um numero: '))
  num2 = num2 + (x,)

print(num2)

Digite um numero: 5
Digite um numero: 4
Digite um numero: 8
Digite um numero: 9
Digite um numero: 1
(5, 4, 8, 9, 1)

EXERCICIOS

1. Crie um programa que leia um número do teclado e imprima, dependendo do numero digitado, o dia da semana. Seu programa deverá reperitr a entrada até que seja digitado o número 9.
Para armazenar os dias da semana, utilizar uma tupla.

In [ ]:
dias=('Domingão abençoado', 'Segunda-Feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira das mulheres', 'Sabão graças a Deus')

In [ ]:
type(dias)

tuple

In [ ]:
while True:
  numero=int(input('Digite um dia que represente um dia da semana de 0 a 6 ou aperte 9 para sair: '))

  if numero==9:
   print(f"Escolheu errado ai meu camarada!")
   break
  elif numero<=6 or numero>=0:
   print(f'Seu dia da semana é', dias[numero])
  else:
    print("Escolheu errado ai meu camarada!")

Digite um dia que represente um dia da semana de 0 a 6 ou aperte 9 para sair: 0
Seu dia da semana é Domingão abençoado
Digite um dia que represente um dia da semana de 0 a 6 ou aperte 9 para sair: 4
Seu dia da semana é Quinta-feira
Digite um dia que represente um dia da semana de 0 a 6 ou aperte 9 para sair: 9
Escolheu errado ai meu camarada!

2. Crie uma tupla preenchida com os 10 primeiros colocados do campeonato paulista de futebol(2022), em ordem de colocação, depois mostre:
 - Os 3 primeiros
 - os 3 ultimos
 - Os tims em ordem alfabética
 - em que posição está o bragantino

In [ ]:
times=('Palmeiras', 'São paulo', 'Corinthians','Bragantino', 'Ituano', 'Botafogo-SP', 'Mirassol', 'São Bernardo', 'Guarani', 'Santo André')

In [ ]:
type (times)

tuple

In [ ]:
print(f'Os três primeiros times colocados são:',times[0:3])

Os três primeiros times colocados são: ('Palmeiras', 'São paulo', 'Corinthians')

In [ ]:
print(f'Os três últimos times colocados são:',times[7:])

Os três últimos times colocados são: ('São Bernardo', 'Guarani', 'Santo André')

In [ ]:
print(f'Os times em ordem alfabética:',sorted(times))

Os times em ordem alfabética: ['Botafogo-SP', 'Bragantino', 'Corinthians', 'Guarani', 'Ituano', 'Mirassol', 'Palmeiras', 'Santo André', 'São Bernardo', 'São paulo']

In [ ]:
print(f'A posição do Bragantino é:',times.index('Bragantino')+1)

A posição do Bragantino é: 4

### **AULA 03/10**

EXERCICIOS

1 - Faça um programa em phyton que converta metros em centimetros.

2 - Faça um programa que leia um valor inteiro de 1 a 10 e mostre a tabulada do valor lido

3 - Faça um programa que leia o salário de um funcionário e calcule o reajuste de acordo com a tabela a seguir. No final, mostre o novo salário

ABAIXO DE R$ 2.500,00   =  15 (PORCENTO)
DE R$ 2.500,00 ATÉ R$ 4.000,00  = 10 (PORCENTO)
ACIMA DE R$ 4.000,00 = 5 (PORCENTO)

4 - Faça um programa que carregue valores em duas listas em seguida junte as duas listas e mostre o conteudo da junção

5 - faça um programa que procure um determinado valor em uma lista, se encontrar, mostre o valor.

6 - carregue uma lista com 20 numeros inteiros. Armazene os numeros pares em uma lista PAR e os numeros impares em uma lista IMPAR.

7 - Leia 4 valores do teclado e armazene em uma tupla em seguida mostre:
  - quantas vezes apareceu o numero 9
  - em que posição foi digitado o numero 3
  - quais foram os números pares

In [ ]:
cm=int(input('Digite o valor em centimetros para ser convertido em metros: '))


print(f'O seu valor ditigado convertido para metros é:',cm/100)

Digite o valor em centimetros para ser convertido em metros: 100
O seu valor ditigado convertido para metros é: 1.0

In [ ]:
x=int(input('Digite qual tabuada você deseja: '))
n=1

if 1<=x<=10:
  while 1<=x<=10 and 1<=n<=10:
    print(f"{x} x {n} = {x*n}")
    n=n+1
else: 
  print("Esse ai eu não consigo fazer amigao, é até o 10")

Digite qual tabuada você deseja: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
salario=int(input("Digite o valor do seu sálario:\n"))


if salario <= 2500:
    a=(salario*15)/100
    ns=p+salario
    print(f"Você terá um aumento de R$",p)
    print(f"Seu novo salário será de R$",ns)
elif salario > 2500 and salario <= 4000:
    p=(salario*10)/100
    ns=p+salario
    print(f"Você terá um aumento de R$",p)
    print(f"Seu novo salário será de R$",ns)
elif salario > 4000:
    p=(salario*5)/100
    ns=p+salario
    print(f"Você terá um aumento de R$",p)
    print(f"Seu novo salário será de R$",ns)

Digite o valor do seu sálario:
2500
Você terá um aumento de R$ 150.0
Seu novo salário será de R$ 2650.0

In [ ]:
lista1=list()
lista2=list()

for i in range(0,5):
  lista1.append(int(input('Digite 5 numeros para a lista 1: ')))
for i in range(0,5):
  lista2.append(int(input('Digite 5 numeros para a lista 2: ')))

lista3= lista1+lista2

print(f"A junção dos valores das listas é: ",lista3)

Digite 5 numeros para a lista 1: 1
Digite 5 numeros para a lista 1: 2
Digite 5 numeros para a lista 1: 3
Digite 5 numeros para a lista 1: 4
Digite 5 numeros para a lista 1: 5
Digite 5 numeros para a lista 2: 6
Digite 5 numeros para a lista 2: 7
Digite 5 numeros para a lista 2: 8
Digite 5 numeros para a lista 2: 9
Digite 5 numeros para a lista 2: 10
A junção dos valores das listas é:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]